# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-epwny.eastus.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=<confluent_api_user_name>
sasl.password=<confluent_api_user_pass>
ssl.ca.location=/usr/local/etc/openssl@1.1/cert.pem

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000